.wrapCategoryPost {
  background-color: rgba(237, 197, 140, 0.5);

  padding: 54px 0 109px 0;
}

.categoryPostTitle {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 33px;

  /* line-height: 48px; */
  line-height: 1.45455;
  text-transform: uppercase;
  text-align: center;
  color: var(--black);
  margin-bottom: 7px;
}

.categoryPostTitleDesc {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;

  /* line-height: 28px; */
  line-height: 1.75;
  text-align: center;
  color: var(--grey);
  margin-bottom: 55px;
}

.categoryPostList {
  display: flex;
  flex-wrap: wrap;
  gap: 55px 28px;
}

.categoryPostItem {
  width: calc((100%-56px) / 3);
}

.categoryPostItemImg {
  width: 420px;
  height: 304px;
  border-radius: 24px;
  margin-bottom: 16px;
  object-fit: cover;
}

.categoryPostItemInfo {
  display: flex;
  gap: 30px;
  margin-bottom: 8px;
}

.categoryPostItemInfoCategory {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 13px;

  /* line-height: 24px; */
  line-height: 1.84615;
  color: var(--orange);
}

.categoryPostItemInfoCategory span {
  display: inline-block;
  box-shadow: inset 0 -2px 0 0 var(--light-orange);
}

.categoryPostItemInfoAuthor {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 13px;

  /* line-height: 24px; */
  line-height: 1.84615;
  color: var(--grey);
}

.categoryPostItemTitle {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 23px;

  /* line-height: 32px; */
  line-height: 1.3913;
  text-transform: none;
  color: var(--black);
  max-width: 420px;
  margin-bottom: 12px;
}

.categoryPostItemDesc {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;

  /* line-height: 28px; */
  line-height: 1.75;
  color: var(--light-black);
  max-width: 420px;
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1440px) {
}
